sample
sample/*
.idea
.idea/*
*.JPG
*.zip
*.pth
*.txt
*.jpeg
*/__pycache__/*
preprocessing/__pycache__/*
preprocessing/__pycache__/image_preprocessed.cpython-36.pyc
*check_point*
.DS_Store
pretrained_models
pretrained_models/*
best_model_test
test